<h1>Bookmarks</h1>

<ul>
<% @list.each do |bookmark| %>
 <li class="bookmark" id="bookmark-<%= bookmark.id %>">
   <a href="<%= bookmark.url %>" target="_blank">
     <%= bookmark.title %>
     <form action="/bookmarks/<%= bookmark.id %>" method="post">
       <input type="hidden" name="_method" value="DELETE">
       <input type="submit" value="Delete">
     </form>
     <form action="/bookmarks/<%= bookmark.id %>/edit">
      <input type="submit" value="Edit">
     </form>
   </a>
 </li>
<% end %>
</ul>
